Client/Service References/StudentService/StudentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8190/StudentService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentLogic" />
  <xs:import schemaLocation="http://localhost:8190/StudentService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8190/StudentService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetCurrentPair">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="teacher" nillable="true" type="q1:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="GetCurrentPairResult" nillable="true" type="q2:ArrayOfStudingTheSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttendStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="student" nillable="true" type="q3:Student" />
        <xs:element minOccurs="0" name="presence" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="pair" nillable="true" type="q4:StudingTheSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttendStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="GetTeacherResult" nillable="true" type="q5:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrateTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="teacher" nillable="true" type="q6:Teacher" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrateTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrateTeacherResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="GetAllGroupsResult" nillable="true" type="q7:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="GetAllSubjectsResult" nillable="true" type="q8:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="GetAllStudentsResult" nillable="true" type="q9:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="subject" nillable="true" type="q10:Subject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="subject" nillable="true" type="q11:Subject" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSubjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="subject" nillable="true" type="q12:Subject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSubjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="group" nillable="true" type="q13:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="group" nillable="true" type="q14:Group" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="group" nillable="true" type="q15:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="student" nillable="true" type="q16:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStudentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="student" nillable="true" type="q17:Student" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="newValues" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditStudentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="student" nillable="true" type="q19:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStudentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTimeTableForTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="teacher" nillable="true" type="q20:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTimeTableForTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTimeTableForTeacherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="tmt" nillable="true" type="q21:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTimeTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSdudingSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="teacher" nillable="true" type="q22:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSdudingSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="GetAllSdudingSubjectsResult" nillable="true" type="q23:ArrayOfStudingTheSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPair">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="pair" nillable="true" type="q24:StudingTheSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPairResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q25:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="GetGroupByIdResult" nillable="true" type="q26:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="GetSubjectByIdResult" nillable="true" type="q28:Subject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextPair">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="teacher" nillable="true" type="q29:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextPairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="GetNextPairResult" nillable="true" type="q30:ArrayOfStudingTheSubject" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPair">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="pair" nillable="true" type="q31:StudingTheSubject" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="newvalues" nillable="true" type="q32:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPairResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePair">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="pair" nillable="true" type="q33:StudingTheSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePairResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPresences">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="student" nillable="true" type="q34:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPresencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/StudentLogic" minOccurs="0" name="GetAllPresencesResult" nillable="true" type="q35:ArrayOfPresence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>